<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <br>
    <br>
    <br>
    

        <h1>
            <a href="/product/<%= movie.id %>"><%= movie.title %></a>
        </h1>

        <p>Rating:<%= movie.rating %></p>
        <p>Premios:<%= movie.awards %></p>
        <p>Duracion:<%= movie.length %></p>
        <p>Fechas de lanzamiento:<%= movie.release_date %></p>
        <% if (movie.genre) { %>
            <h1>Genero:<%= movie.genre.name %></h1>
        <% } %>
        <% if (!movie.genre) { %>
            <p>No tiene genero</p>
        <% } %>
        <h1>Actores:</h1>
        <% movie.actor.forEach(actor => { %>
         <p><%= actor.first_name %> <%= actor.last_name %></p>
        <% }) %>

        <br><br>

        <button>
            <a href="/product/edit/<%= movie.id %>">Editar</a>
        </button>

        <br><br>
        
        <form action="/product/delete/<%= movie.id %>?_method=delete" method="post">
            <button type="submit">Eliminar</button>
        </form>



</body>
</html>